body {

  background-color:  #ecf5ff; 
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;

}

h1
 {
  color:  #263849;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #56a5eb;
  font-family:sans-serif;
}

a:hover {
  color: #99B8BF;

}

/*.btn:focus, .btn:active, .btn:visited {
  outline: none !important;
  box-shadow: none !important;
  background-color: #343a40;
}
*/
#time-left{
  justify-content:right;
  max-width:100
}
#quiz-questions {
  font-size:1.5rem;
}
#question-container {
  justify-content:left;

  align-items: center;
  max-width:100; 
}
#direction-container {
  font-size:1.5rem;
  justify-content:center;
}
.card-header {
  background-color: #56a5eb;
  font-size: 2.5rem; 
  justify-content: center;
  
 }
.choice-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.0rem;
  width: 100%;

  font-size: 1.5rem;
  border: 0.1rem solid rgb(86, 165, 235, 0.25);
  border-radius: .3rem;
  background-color: #56a5eb;
  color: white;
}

.choice-prefix {
  padding:  1.5rem;
  background-color: #56a5eb;
  color: white;
}

.choice-text {
  padding: 1.0rem;
  width: 100%;
}


#start-btn, #user-initials-btn {

  justify-content:center;
  align-items: center;
  max-width:100%; 
  font-size: 1.4rem;
  padding: .5rem;
  width: 10rem;
  text-align: center;
 
  border: 0.1rem solid  #56a5eb;
  border-radius: .3rem;
  margin-bottom: 1rem;
  text-decoration: none;
  color:  #2b6ea9;
  background-color: rgb(192, 204, 219);
}

.btn:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(2, 30, 44, 0.5);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}



#user-score {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

span {
  font-family: 'Archivo', sans-serif;
}

p {
  font-family: 'Archivo', sans-serif;
}


#answerCheck {
  font-style: italic;
  color: #4D5159;
}